:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --secondary-color: #2196f3;
  --primary-style-button: #f5f4fa;
  --secondary-text-btn: #ffffff;
  --text-footer: #ffffff;
  --contact-link-footer: rgba(255, 255, 255, 0.6);
  --background-color: #2f303a;
  --secondary-background-color: #ffffff;
  --third-background-color: #f5f5f5;
  --fourth-background-color: #f5f4fa;
  --background-main-button: #188ce8;
  --border-color: #eeeeee;
  --border-header-color: #ececec;
  --background-features-icon: rgba(245, 244, 250, 1);
  --team-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --icon-color: rgba(175, 177, 184, 1);
  --team-social-background-color: rgba(255, 255, 255, 1);
  --box-shadow-filter: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --footer-soc-background: rgba(255, 255, 255, 0.1);
  --filter-card-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Загальні стилі, для двух сторінок */
.list {
  list-style: none;
}
.item {
  background-color: var(--secondary-background-color);
}
.text {
  color: var(--secondary-text-color);
}
.link {
  text-decoration: none;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.button {
  color: var(--main-text-color);
  background-color: var(--primary-style-button);
  cursor: pointer;
}
/* --Логотип */
.header {
  background-color: var(--secondary-background-color);
  border-bottom: 1px solid var(--border-header-color);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav {
  display: flex;
  align-items: center;
}
.logo-link {
  color: var(--secondary-color);
}
.logo {
  font-style: normal;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
}
.logo-header {
  color: var(--main-text-color);
}

.header-list {
  display: flex;
  margin-left: 93px;
}

.logo-item:not(:last-child) {
  margin-right: 50px;
}
.site-nav {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--animation);
}
.site-nav:hover,
.site-nav:focus {
  color: var(--secondary-color);
}
.current {
  position: relative;
  color: var(--secondary-color);
}
.current::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background-color: var(--secondary-color);
  border-radius: 2px;
}
.site-nav-current:active {
  color: var(--secondary-color);
}
.contact-list {
  display: flex;
  margin-left: auto;
}
.contact-item + .contact-item {
  margin-left: 50px;
}
.contact-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--animation);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--secondary-color);
}
.icon-envelope,
.icon-smartphone {
  display: block;
  fill: currentColor;
  margin-right: 10px;
}

/* Головний заголовок на index.html */
.section-main {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/img(16).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;

  padding-top: 200px;
  padding-bottom: 200px;
}
.main-title {
  margin-bottom: 30px;
  color: var(--secondary-text-btn);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.main-button {
  display: inline-block;
  min-width: 216px;
  min-height: 50px;
  border: 0;
  border-radius: 4px;
  padding: 10px 32px;
  color: var(--secondary-text-btn);
  background-color: var(--secondary-color);
  font-weight: 700;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  cursor: pointer;
  transition: color var(--animation), background-color var(--animation),
    box-shadow var(--animation);
}
.main-button:hover,
.main-button:focus {
  color: var(--secondary-text-btn);
  background-color: var(--background-main-button);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* Модальне вікно */
.button-close-black {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #000000;
  background-color: var(--secondary-background-color);
  opacity: 1;
  transition: opacity var(--animation), fill var(--animation);
}
.button-close-black:hover,
.button-close-black:focus {
  fill: var(--secondary-color);
}
.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--animation);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  width: 528px;
 height: 581px;
  padding: 40px 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  background-color: var(--secondary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transition: transform var(--animation), opacity var(--animation);
}

.modal-title {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 23px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;

  color: var(--main-text-color);
}
.field-label {
  display: inline-block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--secondary-text-color);
}
.field-coment {
  resize: none;
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.modal-inputs {
  display: block;
}
.modal-field {
  text-align: left;
  margin-bottom: 10px;
}

.field-input-icon {
  display: flex;
  position: relative;
  justify-items: center;
  align-content: center;
  width: 100%;
}
.field-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: fill var(--animation);
}

.field-input {
  width: 100%;
  height: 40px;
  padding: 0 0 0 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border var(--animation), box-shadow var(--animation);
}

.field-input:focus {
  outline: 0;
  border: 1px solid var(--secondary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.field-input:focus-within + .field-icon {
  fill: var(--secondary-color);
}
.field-coment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.modal-field-coment {
  width: 100%;
  margin-bottom: 20px;
  text-align: left;
}

.field-coment:focus {
  outline: 0;
  border: 1px solid var(--secondary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.input-checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.field-checkbox {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.icon-license {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-text-color);
  border-radius: 2px;
  transition: background-color var(--animation),
    background-image var(--animation), background-size var(--animation),
    background-origin var(--animation), border-color var(--animation);
}
.input-checkbox:checked + .icon-license {
  background-color: var(--secondary-color);
  background-image: url(..//images/icon\ check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--secondary-color);
}
.input-checkbox:not(:checked):focus + .icon-license {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--secondary-color);
  border-radius: 2px;
}
.label-checkbox {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  cursor: pointer;
}
.text-checkbox {
  display: inline-block;
  margin-left: 9px;
  color: var(--secondary-text-color);
}
.link-license {
  color: var(--secondary-color);
  margin-left: 7px;
}

.modal-button {
  text-align: center;
  cursor: pointer;
  padding: 0;
  width: 200px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-text-btn);
  background-color: var(--secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  transition: background-color var(--animation);
}
.modal-button:hover,
.modal-button:focus {
  background-color: var(--background-main-button);
}
/* особливості */
.hidden-list {
  display: flex;
}
.hidden-item {
  flex-basis: calc((100% - 90px) / 4);
  margin-right: 30px;
}
.hidden-item:nth-child(4n) {
  margin-right: 0;
}
.features-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-features-icon);
  border-radius: 4px;
}
.text-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.text-desk {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
/* чим ми займаємося */
.section-developments {
  padding-top: 0;
}
.developments {
  display: flex;
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
}
.item-developments {
  margin-right: 30px;
}
.item-developments:nth-child(3n) {
  margin-right: 0;
}
.item-img {
  position: relative;
}
.text-developments {
  position: absolute;
  display: flex;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;

  color: var(--secondary-text-btn);
  background-color: rgba(47, 48, 58, 0.8);
}
/* наша команда */
.section-team {
  background-color: var(--fourth-background-color);
}
.list.list-team {
  display: flex;
}
.team-item {
  flex-basis: calc((100% - 90px) / 4);
  box-shadow: var(--team-box-shadow);
  border-radius: 0px 0px 4px 4px;
}
.team-div {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-item {
  margin-right: 30px;
}
.team-item:nth-child(4n) {
  margin-right: 0;
}

.secondary-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}
.team-social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-item {
  display: block;
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.social-item:nth-child(4n) {
  margin-right: 0;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--icon-color);
  background-color: var(--team-social-background-color);
  transition: color var(--animation), background-color var(--animation);
}
.social-link:hover,
.social-link:focus {
  color: var(--text-footer);
  background-color: var(--secondary-color);
}
.social-icon {
  display: block;
  fill: currentColor;
}

/* Постійні клієнти */

.client {
  display: flex;
  align-items: center;
  justify-content: center;
}
.client-item {
  display: inline-block;
  width: 170px;
  height: 92px;
  margin-right: 30px;
}
.client-item:nth-child(6n) {
  margin-right: 0;
}
.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--icon-color);
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  border: 1px solid var(--icon-color);
  transition: color var(--animation), background-color var(--animation),
    border var(--animation);
}
.client-link:hover,
.client-link:focus {
  color: var(--secondary-color);
  background-color: var(--secondary-background-color);
  border: 1px solid var(--secondary-color);
}
.client-icon {
  display: block;
  fill: currentColor;
}

/* Footer */
.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.footer-link {
  color: var(--secondary-color);
  display: block;
  margin-bottom: 20px;
}
.logo-footer {
  color: var(--text-footer);
}
.address {
  color: var(--text-footer);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.text-address {
  margin-bottom: 9px;
}
.address-item {
  margin-bottom: 9px;
}
.address-item:nth-child(2n) {
  margin-bottom: 0;
}
.footer-contact {
  color: var(--contact-link-footer);
  transition: color var(--animation);
}
.footer-contact:hover,
.footer-contact:focus {
  color: var(--secondary-color);
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-social {
  margin-left: 70px;
}
.footer-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-footer);
}
.footer-social-list {
  display: flex;
}
.footer-social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.footer-social-item:nth-child(4n) {
  margin-right: 0;
}
.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--text-footer);
  background-color: var(--footer-soc-background);
  transition: color var(--animation), background-color var(--animation);
}
.footer-social-link:hover,
.footer-social-link:focus {
  color: var(--text-footer);
  background-color: var(--secondary-color);
}
.footer-mail {
  margin-left: auto;
}
.form {
  display: flex;
}

.email {
  min-width: 358px;
  min-height: 50px;
  padding-left: 16px;

  background-color: var(--background-color);
  color: rgba(255, 255, 255, 0.6);;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.email::placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  color: rgba(255, 255, 255, 0.6);
}
.button-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  min-height: 50px;
  min-width: 200px;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--secondary-text-btn);
  background-color: var(--secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.icon-send {
  margin-left: 10px;
}
/*Портфоліо */
.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.button-filter {
  display: inline-block;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  transition: color var(--animation), background-color var(--animation),
    box-shadow var(--animation);
}

.button:hover,
.button:focus {
  color: var(--secondary-text-btn);
  background-color: var(--secondary-color);
  box-shadow: var(--box-shadow-filter);
}
.button-item {
  margin-right: 8px;
}
.button-item:nth-child(5n) {
  margin-right: 0;
}
.first {
  padding: 6px 25px;
  min-width: 73px;
}
.second {
  min-width: 125px;
}
.third {
  min-width: 112px;
}
.fourth {
  min-width: 103px;
}
.fifth {
  min-width: 130px;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.filter-item {
  flex-basis: calc((100% - 60px) / 3);
}
.filter-item:nth-child(3n) {
  margin-right: 0;
}
.filter-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.link-filter {
  display: inherit;
  color: var(--main-text-color);
  transition: box-shadow var(--animation);
}
.link-filter:hover,
.link-filter:focus {
  box-shadow: var(--filter-card-box-shadow);
}
.item-img-filter {
  position: relative;
  overflow: hidden;
}

.works-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: opacity var(--animation), transform var(--animation);
  opacity: 0;
}

.filter-item:hover .works-overlay {
  transform: translateY(0);
  opacity: 1;
}
.works-desctiption {
  display: inline-block;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: var(--secondary-text-btn);
}
.img-filter {
  display: block;
  max-width: 100%;
  height: auto;
}
.title-filter {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.text-filter {
  font-size: 16px;
  line-height: 1.87;
}
.section-portfolio {
  background-color: var(--third-background-color);
}
.portfolio-title {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
